
body {
    margin-left: 20%;
    margin-right: 20%;
}
body, input, button {
    font-family: "Century Gothic",sans-serif;
    font-size: 20pt;
}
div {
    margin: 3em;
}
#main {
    width: 20%;
}
#heading {
    width: 20%;
}
#heading img {
    width: 250px;
    height: 200px;
    float: left;

}